<!--  Replace menu links here -->

<li class="nav-item">
<a class="nav-link" href="{{site.baseurl}}/java.html">Java</a>
</li>
<li class="nav-item">
<a class="nav-link" href="{{site.baseurl}}/react.html">React</a>
</li>
<li class="nav-item">
<a class="nav-link" href="{{site.baseurl}}/designpatterns.html">Design Patterns</a>
</li>
<li class="nav-item">
    <a class="nav-link" href="{{site.baseurl}}/spring.html">Spring</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{{site.baseurl}}/miscellaneous.html">Misc</a>
        </li>
    <li class="nav-item">
        <a class="nav-link" href="{{site.baseurl}}/authors-list.html">Authors</a>
        </li>


